<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

    <body>
        <div class="sidenav">
            <a href="#home">Home</a>
            <a href="#filtro">Filtro por data</a>
            <a href="#grafico">Gráfico</a>
        </div>

        <div class="main">
            <form action="/" method="GET">
                Preço do kWh: <input type="number" name="preco" value="0.7235" step="0.0001"  />
                <input type="submit" value="Submit" />
            </form>
            <h2>Consumo Atual</h2>
            <p><h3><%= atual %></h3></p>
            <p><h2>Consumo Diário</h2></p>
            <p><h3><%= diario %></h3></p>
            <p><h3><%= preco %></h3></p>
        </div>
    </body>
</html> 